baseURL = "https://xiweipan.vercel.app/"
languageCode = "en-us"
title = "潘玺玮: Xiwei Pan"
theme = "hugo-ht"
ignoreFiles = ["\\.Rmd$", "\\.Rmarkdown$", "_files$", "_cache$"]
footnotereturnlinkcontents = "↩"
enableGitInfo = true
enableRobotsTXT = true

[permalinks]
cn = "/cn/:year/:month/:day/:slug/"
en = "/en/:year/:month/:day/:slug/"

[frontmatter]
  lastmod = ["lastmod", ":git", "date", "publishDate"]

[[menu.en]]
    name = "Home"
    url = "/"
    weight = 1
[[menu.en]]
    name = "Projects"
    url = "/en/projects/"
    weight = 2
[[menu.en]]
    name = "Blog"
    url = "/en/blog/"
    weight = 3
[[menu.en]]
    name = "中文"
    url = "/cn/blog/"
    weight = 4
[[menu.cn]]
    name = "关于"
    url = "/cn/about/"
    weight = 1
[[menu.cn]]
    name = "博客"
    url = "/cn/blog/"
    weight = 2
[[menu.cn]]
    name = "English"
    url = "/"
    weight = 3

[params]
    description = "Peronal website of Xiwei Pan"
    homeText = "Xiwei Pan's Personal Website"
    # Please make sure `blogDirNmae` matches the name used in `menu` above:
    blogDirName = "blog"
    singleLang = false
    defaultLang = "en"
    MathJaxCDN = "//cdnjs.cloudflare.com/ajax/libs" 
    MathJaxVersion = "2.7.5"
    favicon = "media/favicon.png"
    # Edit by yourself:
    GithubEdit = "https://github.com/peterpanxw/xiweipan/edit/main/content/"
    copyright = "&copy;"
    copyrightYear = "2020-2024"
    # Edit by yourself:
    GithubRepo = "https://github.com/peterpanxw/xiweipan"
    # Edit by yourself:
    ContentSource = "https://raw.githubusercontent.com/peterpanxw/xiweipan/main/content/" 

[params.logo]
  # Change the logo picture as your prefer:
  url = "media/peterpan-logo.png" # you can change it
  width = 50.0
  height = 50.0
  alt = "Xiwei Pan"

[params.lang]

    [params.lang.author]
      en = "Xiwei (Peter) Pan"
      cn = "潘玺玮"

    [params.lang.madeWith]
      en = "Made with"
      cn = "本站驱动"

    [params.lang.edit]
      en = "Suggest an edit of this page"
      cn = "编辑本页"

    [params.lang.lastupdate]
      en = "Last modified on"
      cn = "最后一次修改于"

    [params.lang.Sitelastupdate]
      en = "Site last updated on"
      cn = "最近一次更新于"

    [params.lang.sourceCode]
      en = "Content in"
      cn = "内容存于"

    [params.lang.subscribe]
      en = "Subscribe"
      cn = "订阅"

    [params.lang.license]
      en = "License"
      cn = "版权"

[markup]
 defaultMarkdownHandler = "goldmark"

  [markup.goldmark]

    [markup.goldmark.extensions]
    definitionList = true
    footnote = true
    linkify = false
    strikethrough = true
    table = true
    taskList = true
    typographer = true

    [markup.goldmark.parser]
    attribute = true
    autoHeadingID = true

    [markup.goldmark.renderer]
    hardWraps = false
    unsafe = true
    xHTML = false
  
  [markup.highlight]
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    style = "pygments"
    tabWidth = 4

  [markup.tableOfContents]
  endLevel = 3
  ordered = true
  startLevel = 2

[imaging]
quality = 100