div.highlight {
  position: relative;
}

div.highlight .copy-button {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid;
  font-size:12px;
  border-radius: 5px;
}

.notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 26px;
  color: black;
  opacity: 1;
  transition: opacity 1s;
}
