{{ partial "header.html" . }}

{{ $name := .Data.Plural -}}
{{ if eq $name "tags" -}}
<h1>#{{ .Title | markdownify }}</h1>
{{ end }}

<main class = "content">

  <div class="list-page">
    {{ .Content }}


    {{if not .IsHome}}
    <ul>
      {{ range .Paginator.Pages.GroupByDate "2006" }}
      <h2 style="text-align: left;">{{ .Key }}</h2>
      {{ range .Paginator.Pages.GroupByDate "2006-01-02" }}
      {{ range .Paginator.Pages }}
      <p>
        <span class="date">
          {{ .Date.Format "2006-01-02" }}
        </span>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </p>
      {{ end }}
      {{ partial "pagination" .}}
      {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
</main>

{{ partial "footer.html" . }} 