<div class="wrapper">
      <header class="header">
        {{ partial "nav.html" . }}
      </header>

{{ $name := .Data.Plural -}}
{{ if eq $name "tags" -}}
<h1>#{{ .Title | markdownify }}</h1>
{{ end }}

<main class = "content">

<div class="list-page">
{{ .Content }}


{{if not .IsHome}}
<ul>
  {{ range .Pages.GroupByDate "2006" }}
  <h2 style="text-align: left;">{{ .Key }}</h2>
  {{ range .Pages.GroupByDate "2006-01-02" }}
  {{ range .Pages }}
  <p>
    <span class="date">
    {{ .Date.Format "2006-01-02" }}
    </span>
    <a href="{{ .RelPermalink }}">
    {{ .Title }}
    </a>
  </p>
  {{ end }}
  {{ end }}
  {{ end }}
</ul>
{{ end }}
</div>
</main>

{{ partial "footer.html" . }} 