<script type="text/javascript" src="{{"js/math-code.js" | relURL}}"></script>
<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/javascript" src="{{"js/center-img.js" | relURL}}"></script>
<script src="{{"js/copy-to-clipboard.js" | relURL}}"></script>
<script src="{{"js/scroll-down-arrow.js" | relURL}}"></script>
<script src="{{"js/scroll-bg-image.js" | relURL}}"></script>
<script src="{{"js/button-click.js" | relURL}}"></script>
<script src="{{"js/thumbnail-zoom.js" | relURL}}"></script>