<nav class="nav">
      <a href="{{ "/" | relURL }}" class="nav-logo">
        <div class="container">
        <img src="{{ print "" .Site.Params.logo.url | relURL }}"
        width="{{ .Site.Params.logo.width }}"
        height="{{ .Site.Params.logo.height }}"
        alt="{{ .Site.Params.logo.alt }}"
        draggable="false"
        oncontextmenu="return false;">
    </div>
    </a>

    <div class="navbar-brand social"> 
        <a href="mailto:pxw2042086943@mail.dlut.edu.cn"
        title="email" rel="external nofollow noopener"
        target="_blank"><i class="nav-icon-solid nav-icon-envelope"></i></a> 
        <a
        href="https://orcid.org/0009-0002-8474-4498" title="ORCID" rel="external nofollow noopener"
        target="_blank"><i class="nav-icon nav-icon-orcid"></i></a> 
        <a
        href="https://scholar.google.com/" title="Google Scholar"
        rel="external nofollow noopener" target="_blank"><i class="nav-icon nav-icon-google-scholar"></i></a> 
        <a
        href="https://www.researchgate.net/profile/Xiwei-Pan" title="ResearchGate"
        rel="external nofollow noopener" target="_blank"><i class="nav-icon nav-icon-researchgate"></i></a> 
        <a
        href="https://github.com/peterpanxw" title="GitHub" rel="external nofollow noopener"
        target="_blank"><i class="nav-icon-brands nav-icon-github"></i></a> 
        <a
        href="https://cn.linkedin.com/in/xiwei-pan-b65a23319" title="LinkedIn" rel="external nofollow noopener"
        target="_blank"><i class="nav-icon-brands nav-icon-linkedin"></i></a> 
    </div> 

    <ul class="nav-links" >
        {{ if .IsHome }}
        {{ range .Site.Menus.en }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
        {{ else }}
        {{ range (default .Site.Menus.main (index .Site.Menus $.Section)) }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
        {{ end }}
    </ul>
</nav>